{{! Шаблон одной карточки }}
{{#each this}}
  <li class='gallery__item gallery-js'>
    <a class='gallery__link link link-js' href='#' id='{{id}}'>
      <img
        class='gallery__image'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
      />
      <div class='gallery__title-wrap'>
        <h2 class='gallery__title'>{{title}}</h2>
        <p class='gallery__accent'>{{genres}}<span>{{release_date}}</span></p>
      </div>
    </a>
  </li>
{{/each}}