{{!-- <div class="modal-movie"> --}}
  <img
    class="modal-movie__poster"
    src='https://image.tmdb.org/t/p/w500{{this.poster_path}}'
    alt="movie-poster"
  />
  <div class="modal-movie__right-content">
    <p class="modal-movie__name">{{title}}</p>
    <div class="modal-movie__data">
      <div class="modal-movie__indicators">
        <p class="modal-movie__indicators--item">Vote / Votes</p>
        <p class="modal-movie__indicators--item">Popularity</p>
        <p class="modal-movie__indicators--item">Original Title</p>
        <p class="modal-movie__indicators--item">Genre</p>
      </div>
      <div class="modal-movie__rating">
        <p class="modal-movie__votes">
          <span class="vote">{{vote_average}}</span
          ><span class="modal-movie__slash"> /</span> {{vote_count}}
        </p>
        <p class="modal-movie__popularity">{{popularity}}</p>
        <p class="modal-movie__title">{{original_title}}</p>
        <p class="modal-movie__genre">
            {{#each genres}}
            {{this.name}}
            {{/each}}
            </p>
      </div>
    </div>
    <p class="modal-movie__about">About</p>
    <p class="modal-movie__description">
      {{overview}}
    </p>
    <div class="modal-movie__buttons">
      <button
        class="
          modal-movie__buttons--watched modal-movie__button
          button button--orange
        "
      >
        add to Watched
      </button>
      <button
        class="
          modal-movie__buttons--queue modal-movie__button
          button button--black
        "
      >
        add to queue
      </button>
    </div>
  </div>
{{!-- </div> --}}